@import '../../variables.styl'
*
	margin 0
	padding 0
body
	font-family Roboto, sans-serif
	font-size: 16px
	margin 20px


.block {
	width 960px
	margin 0 auto
	padding 0 16px
	box-sizing border-box
	// background #efefef
}

h2
	font-size 23px
	line-height 32px
	color rgba(0, 0, 0, 0.87)
	font-weight normal

h4
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
