@import '../../variables.styl'

.block
	display flex
	flex-direction: row
	justify-content: left
	align-items: center
	cursor: pointer
	user-select none
	.input
		display: none
	.box
		display inline-block
		border-radius 2px
		flex-basis: 18px
		margin 2px
		width 18px
		height 18px
		border 2px solid rgba(0, 0, 0, 0.37)
		box-sizing: border-box
	.input:checked ~ .box
		border none//2px solid rgba(0, 0, 0, 0.37)
		background url(../../assets/checkbox@2x.png) no-repeat center
		background-size 18px


	.label
		margin-left 8px
		line-height: 24px
		font-size: 16px



