.block
	margin-bottom 8px
	transition margin-top .3s, margin-bottom .3s
	&.expanded
		margin-bottom 12px
		margin-top 20px
		.content
			padding-top 12px
	.content
		box-sizing border-box
		padding 16px 24px
		transition padding-top .3s
		.title
			cursor pointer
			display inline-block
			&.close
				color rgba(0, 0, 0, 0.57)
			&:active
				user-select none
		.subtitle
			display flex
			flex-direction row
			justify-content space-between
			align-items center
			margin 0px -8px -6px 0
			.left
				display flex
				flex-direction row
				justify-content flex-start
				align-items center

				.count
					margin-right 16px
				.done
					display inline-block
					font-size 13px
					line-height 16px
					color rgba(0, 0, 0, 0.57)
					background url(../../assets/check@2x.png) no-repeat center left
					background-size 16px 12px
					box-sizing border-box
					padding-left 25px

			.right
				margin-top 2px
				.delete
					display: inline-block
					margin-left 32px
