@import '../../variables.styl';
.block
	box-sizing: border-box
	display: inline-block
	&.wide
		display: block
	.input
		font-size: 16px
		width 100%
		line-height: 24px
		padding 7px 16px
		background: $white
		color $primaryText
		outline none
		border 1px solid rgba(0, 0, 0, 0.12)
		border-radius 2px
		box-sizing: border-box
		&::placeholder
			color $hintText
		&:focus
		&:hover
			border-color rgba(0, 0, 0, 0.37)
		&.error
			border-color $errorText
	.info
		margin-top 4px
		font-size: 12px
		line-height: 16px
		color $errorText
