@import '../../variables.styl';

.block
	background-color $white
	box-shadow 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 2px 0 rgba(0, 0, 0, 0.12)
	transition box-shadow .3s
	overflow: hidden
	border-radius: 2px
	&.expanded
		box-shadow 0 8px 8px 0 rgba(0, 0, 0, 0.12), 0 0 8px 0 rgba(0, 0, 0, 0.12)
