.block
	display flex
	flex-direction row
	justify-content: space-between
	align-items: flex-end
	margin-bottom: 16px
	.left
		display: flex
		flex-direction: row
		justify-content: flex-start
		align-items: center
		flex 1
		.input
			flex-basis: 340px
		.checkbox
			margin-top 2px
			margin-left 16px
	.right
		display: flex
		flex-direction: row
		justify-content: flex-end
		align-items: flex-end
		flex-basis: 215px

