.block
	.list
		// margin-top 20px
		overflow hidden
		&.enter
			height 0px
			transition height .3s
		&.enterActive
			transition height .3s
		&.leave
			transition height .3s
		&.leaveActive
			transition height .5s
			height 0px!important
