$accentColor = #00aa87
$accentColorHover = #00816c
$accentColorPress = #00826c
$white = #fff
$black = #000
$shadowColor = rgba(0, 0, 0, 0.12)

$primaryText = alpha($black, 0.87)
$secondaryText = alpha(black, 0.54)
$disabledText = alpha(black, 0.37)
$hintText = $disabledText
$errorText = #f05c5c
